.section {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.section {
  gap: 0.75rem; /* Puedes ajustar este valor según tus necesidades */
}

.div {
  background-color: white;
  border-radius: 25%;
  box-shadow: 16px;
  padding: 10;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

button {
  background: rgb(23, 136, 228);
  border-radius: 16px;
  padding: 8px;
  color: white;
}
